h1, h2{
    text-align: center;
  }
  
  .container {
    background-color: rgb(255, 255, 255);
    padding: 10px 0;

  }
  
  .marker {
    width: 200px;
    height: 25px;
    margin: 10px auto;
    
  }
  
  .cap {
    width: 60px;
    height: 25px;
  }
  
  .sleeve {
    width: 110px;
    height: 25px;
    background-color: rgba(255, 255, 255, 0.5);
    border-left: 10px double rgba(0, 0, 0, 0.75);
  }
  
  .cap, .sleeve {
    display: inline-block;
  }
  
  .red {
    background: linear-gradient(rgb(122, 74, 14), rgb(245, 62, 113), rgb(162, 27, 27));
    box-shadow: 0 0 20px 0 rgba(83, 14, 14, 0.8);
  }
  
  .green {
    background: linear-gradient(#55680D, #71F53E, #116C31);
    box-shadow: 0 0 20px 0 #3B7E20CC;
  }

  .blue {
    background: linear-gradient(hsl(186, 76%, 16%), hsl(223, 90%, 60%), hsl(240, 56%, 42%));
    box-shadow: 0 0 20px 0 hsla(223,59%,31%,0.8);
  }

  .cian {
    background: linear-gradient(rgb(10, 145, 129), rgb(0, 255, 255), rgb(27, 133, 162));
    box-shadow: 0 0 20px 0 rgba(14, 78, 83, 0.8)
  }
  
  .magenta {
    background: linear-gradient(#5c0d68, rgb(255,0,255), #6c116c);
    box-shadow: 0 0 20px 0 #79207ecc;
  }

  .amarillo {
    background: linear-gradient(hsl(69, 77%, 39%), rgb(255, 255, 0), hsl(81, 56%, 42%));
    box-shadow: 0 0 20px 0 hsla(70, 100%, 29%, 0.8);
  }

  .orange {
    background: linear-gradient(rgb(145, 100, 10), rgb(255, 127, 0), rgb(162, 135, 27));
    box-shadow: 0 0 20px 0 rgba(83, 55, 14, 0.8)
  }
  
  .yellow-green {
    background: linear-gradient(#17a51e,rgb(0, 255, 127), #116c49);
    box-shadow: 0 0 20px 0 #207e47cc;
  }

  .violet {
    background: linear-gradient(hsl(272, 93%, 27%), rgb(127, 0, 255), hsl(278, 56%, 42%));
    box-shadow: 0 0 20px 0 hsla(284, 100%, 29%, 0.8);
  }